# Basics

Hello world

In [ ]:
println("Hello world")

String interpolation

In [ ]:
x = "universe"
println("Hello $x")
println("35 + 7 = $(35 + 7)")

Loops

In [ ]:
for i = 1:10
    println("i: $i")
end

Nested loops

In [ ]:
for i = 1:2, j = 1:2
    println("($i, $j)")
end

while loops

In [ ]:
i = 1;
while i <= 5
    println("i: $i")
    i += 1
end

# Functions and types

Creating a function

In [ ]:
function foo(x)
    println(x)
end

Calling a function

In [ ]:
foo("bar")
foo('a':'f')
foo(1:10)
foo(5)

Traditional multiple type handling

In [ ]:
function foo_oldschool(x)
    if(typeof(x) <: AbstractString)
        println(x)
    elseif(typeof(x) <: Range)
        println(join(x,","))
    elseif(typeof(x) <: Real)
        println(x + 42)
    end
end

foo_oldschool("bar")
foo_oldschool('a':'f')
foo_oldschool(1:10)
foo_oldschool(5)

Using Julia's multi-dispatch

In [ ]:
foo(x::Range) = foo(join(x,","))
foo(x::Real) = println(42 + x)

foo("bar")
foo('a':'f')
foo(1:10)
foo(5)

Note that:

```
f(x) = g(x)
```

is equivalent to:

```
function f(x)
    g(x)
end
```

Let's say that, when x is a range of numbers (as opposed to characters or anything else), we want to output the `mean` instead of the expanded list...

In [ ]:
foo{T<:Real}(x::Range{T}) = foo(mean(x))

foo("bar")
foo('a':'f')
foo(1:10)
foo(5)

Neat, but is it useful? Consider scalar vs vector and matrix operations.

In [ ]:
a = 5
b = 2

display(a * b)

a = [4
     5]

display(a * b)

A = [2 4
     5 1]

display(A * b)

b = [4
     5]

display(A * b)

# Functions as arguments

Say we want to transform an array of strings representing numbers into actual numbers. We *could* use a loop to do that. Or we could use the *map* function.

In [ ]:
num_strings = ["1", "2", "3", "4", "5"]

map(num_strings) do x
    parse(Int, x)
end

The above uses a "block" style of anonymous function creation. It is equivalent to:

In [ ]:
map(x -> parse(Int, x), num_strings)

You can use regular functions in the same way:

In [ ]:
toint(x) = parse(Int, x)

map(toint, num_strings)

# DataFrames

Loading the module

In [ ]:
using DataFrames

Creating an empty DataFrame

In [ ]:
df = DataFrame()

Creating a DataFrame with existing arrays of data (must be the same length)

In [ ]:
a = [4, 2, 6, 1]
b = [1, 6, 3, 5]
df = DataFrame(col1 = a, col2 = b)

Adding a column to an existing DataFrame

In [ ]:
df[:col3] = ["a", "b", "a", "b"]
df

Group by a column: we'll group by values in col3 and show the mean of col2 for each of these groupings

In [ ]:
by(df, :col3, frame -> mean(frame[:col2]))

Do the same thing with a "block" style call

In [ ]:
by(df, :col3) do frame
  mean(frame[:col2])
end

Notice that in these cases, we get an arbitrary column name, **x1**, for the average of **col2** values. We can compute averages for multiple columns at once *and* get more appropriate names for those columns by returning a DataFrame of values instead of just one value.

In [ ]:
by(df, :col3) do frame
    DataFrame(col1avg=mean(frame[:col1]),
              col2avg=mean(frame[:col2]))
end

As with the `map` function, we can create functions to do the groupings and pass them in. Here, we'll also put them inside a module.

In [ ]:
module Groupings

using DataFrames

function means(f)
    DataFrame(col1avg=mean(f[:col1]),
              col2avg=mean(f[:col2]))
end

end

by(Groupings.means, df, :col3)

Note that the above function assumes particular column names and types. However, it can be used to do similar groupings even over other columns. For example:

In [ ]:
df[:col4] = ["x", "x", "y", "x"]

by(Groupings.means, df, :col4)

# Exercises

**1.** Create a function that returns a DataFrame with the median of col1 and the sum of col2, given a DataFrame with those columns as a parameter.

**2.** Use your function above to get the median and sum values of subgroups of col3.

**3.** Create a new definition of the `*` operator that will turn `"a" * 5` into `aaaaa`.

*Hint*: What happens when you type `"a" * 5` now? Does the error message give any clues about what your method should look like?

In [ ]:
import Base: *

# Define your new function here:




# The following should produce "aaaaa"

"a" * 5